<!DOCTYPE html>
<html>
<head>
  <title>kyutech-map</title>
  <link rel=stylesheet type=text/css href="static/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class='bo_cl'>
  <a class="title" href="{{ url_for('index') }}"><h1>Kyutech-Map</h1></a>
  <h2>あなたは今<span class='point'>{{ place }}({{ number }}番)</span>付近にいます。</h2>
  <img src="{{img}}" class="example">
  <br><br>
  <img src="/static/images/{{number}}.png">
  <img src="/static/images/detail.jpg">
</div>
</body>
</html>
