<!DOCTYPE html>
<html>
<head>
  <title>kyutech-map</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <h1>Kyutech-Map</h1>
  <h2>あなたは今〇〇(○番)にいます。</h2>
  <img src="{{img}}">
  <br><br>
  <img src="/static/images/map.jpg">
  <img src="/static/images/detail.jpg">
</body>
</html>
